<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ShoppingMapper">

    <resultMap id="BaseResultMap" type="com.shop.model.entity.Shopping">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopName" column="shopName" jdbcType="VARCHAR"/>
            <result property="shopNum" column="shopNum" jdbcType="INTEGER"/>
            <result property="shopAddress" column="shopAddress" jdbcType="VARCHAR"/>
            <result property="shopPrice" column="shopPrice" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shopName,shopNum,
        shopAddress,shopPrice,createTime,
        updateTime,isDelete
    </sql>
</mapper>
